<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="content">
                <h1>404</h1>
                <p class="error-message">Something's missing.</p>
                <p class="description">Sorry, we can't find that page. You'll find lots to explore on the home page.</p>
                <a href="/" class="home-button">Back to Homepage</a>
            </div>
        </div>
    </section>
</body>
</html>