<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/error.css">
    <title>Groupie Tracker</title>
</head>
<body>
    <section>
        <div class="container">
            <div class="content">
                <h1>500</h1>
                <p class="error-message">Internal Server Error.</p>
                <p class="description">We are already working to solve the problem.</p>
                <a href="/" class="home-button">Go to Home</a>
            </div>
        </div>
    </section>
</body>
</html>