<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/index.css"> <!-- Link to the external stylesheet -->
    <link rel="icon" href="/static/img/fav.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <nav>
            <div>
                <a href="/">Groupie Tracker</a>
            </div>
            <div>
                <input type="text" id="search-bar" placeholder="Search..." oninput="filterArtists()" autocomplete="off">
            </div>
        </nav>
    </div>
    
    <main class="main container">
        <div class="grid" id="artist-grid">
            {{ if . }}
                {{ range . }}
                <a href="/details/{{.Id}}" class="artist-card">
                    <img src="{{.Image}}" alt="{{.Name}}'s image">
                    <h2>{{.Name}}</h2>
                    <div>
                        <p>First Album: {{.FirstAlbum}}</p>
                        <p>Creation Date: {{.CreationDate}}</p>
                    </div>
                </a>
                {{ end }}
            {{ else }}
                <p>No results found.</p>
            {{ end }}
        </div>
    </main>

    <script>
        const filterArtists = () => {
            const searchQuery = document.getElementById('search-bar').value.toLowerCase();
            const artistCards = document.querySelectorAll('.artist-card');

            artistCards.forEach(card => {
                const artistName = card.querySelector('h2').textContent.toLowerCase();
                if (artistName.includes(searchQuery)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        };
    </script>
</body>

</html>
