<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/img/fav.ico" type="image/x-icon">
</head>
<body>
    <div class="container"></div>
    <nav class="nav-bar">
        <div class="container">
            <a href="/" class="brand-name">Groupie Tracker</a>
            <div class="search-container">
                <!-- Search Form -->
                <form action="/search" method="GET" class="search-form">
                    <input type="text" name="query" placeholder="Search..." class="search-input" required>
                    <button type="submit" class="search-button">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </nav>
    
    <main class="container">
        <div class="grid">
            {{ range . }}
            <a href="/details/{{.Id}}" class="card">
                <img src="{{.Image}}" alt="{{.Name}}'s image">
                <div class="card-content">
                    <h2 class="card-title">{{.Name}}</h2>
                    <div class="card-info">
                        <span><p>First Album: {{.FirstAlbum}}</p></span>
                    </div>
                    <div class="card-info">
                        <span><p>Creation Date: {{.CreationDate}}</p></span>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </main>
</body>
</html>