<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen Band Tour - A Royal Experience</title>
    <link rel="stylesheet" type="text/css" href="/static/css/details.css">
    <link rel="icon" href="/static/img/fav.ico" type="image/x-icon">
</head>
<body>

    <div class="container">
        <div class="card">
            <div class="overlay"></div>
            <div class="content">
                {{if .Artist}}
                <div class="image-container">
                    <img src="{{.Artist.Image}}" alt="Artist Image" class="artist-image">
                </div>
                <h1 class="artist-name">{{ .Artist.Name }}</h1>
                {{ end }}

                <div class="album-info">
                    <div class="info-title">First Album</div>
                    <p class="info-text">{{.Artist.FirstAlbum}}</p>
                </div>

                {{if .Artist.Members}}
                <div class="members-info">
                    <h2 class="members-title">Band Members</h2>
                    <div class="members-list">
                        {{ range .Artist.Members }}
                        <div class="member">{{.}}</div>
                        {{ end }}
                    </div>
                </div>
                {{end}}

                {{ if .Relations.DatesLocations }}
                <h2 class="tour-title">Tour Dates and Locations</h2>
                <div class="tour-dates">
                    <table class="tour-table">
                        <thead class="table-head">
                            <tr>
                                <th class="table-header">Locations</th>
                                <th class="table-header">Dates</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{ range $location, $dates := .Relations.DatesLocations }}
                            <tr class="table-row">
                                <th class="table-location">
                                    {{$location}}
                                </th>
                                <td class="table-dates">
                                    {{ range $dates }}
                                    <div class="date">{{.}}</div>
                                    {{ end }}
                                </td>
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                </div>
                {{ else }}
                <p class="no-info">No tour information available at the moment.</p>
                {{ end }}
            </div>
        </div>
    </div>
    <div class="back-button">
        <button onclick="history.back()" class="button">
            ← Go Back
        </button>
    </div>

</body>

</html>
